{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
{% endblock %}

{% block content %}
    <dic class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    <!-- My text -->
                    New products are in
                </h1>
                </div class="my-4">
                    <h4>
                    <!-- My href lowercase -->
                        <a href="" class="shop-now-button btn btn-dark rounded-0 text-lowercase py-3">shop</a>
                    <h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
