<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                shop clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
            <!-- My Products -->
                <a href="{% url 'products' %}" class="dropdown-item">all clothes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
        <!-- My trends link -->
            <a class="logo-font font-weight-bold nav-link text-black" 
            href="#" id="trends-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                search
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="trends-link">
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">by rating</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">by price</a>
            </div>
        </li>
    </ul>
</div>