<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Shirt</a>
                <a href="" class="dropdown-item">Blouse</a>
                <a href="" class="dropdown-item">T-Shirt</a>
                <a href="" class="dropdown-item">Co-ord</a>
                <a href="" class="dropdown-item">Top</a>
                <a href="" class="dropdown-item">Coat</a>
                <a href="" class="dropdown-item">Jacket</a>
                <a href="" class="dropdown-item">Joggers</a>
                <a href="" class="dropdown-item">Dress</a>
                <a href="" class="dropdown-item">Vest</a>
                <a href="" class="dropdown-item">Suit</a>
                <a href="" class="dropdown-item">Jumper</a>
                <a href="" class="dropdown-item">Bottoms</a>
                <a href="" class="dropdown-item">Hoodie</a>
                <a href="" class="dropdown-item">Blazer</a>
            </div>
        </li>

        <li class="nav-item dropdown">
        <!-- My trends link -->
            <a class="logo-font font-weight-bold nav-link text-black" 
            href="#" id="trends-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                trends
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="trends-link">
                <a href="" class="dropdown-item">trends</a>
            </div>
        </li>
    </ul>
</div>